header {
    background-color: blue;
}

img {
    width: 200px;
    border-radius: 100px;
    float: left;
    margin-right: 10px;
  }
  .username {
    font-weight: bold;
  }
  em {
      color: pink;
  }


  /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    background:rgb(45, 84, 84) ;
  } */

  .btn1{
    border: none;
    outline:none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }